html {
	scroll-behavior: smooth;
}

body {
	color: #4d4b47;
	background-color: #fef9ee;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 20px;
	font-weight: 900px;
	line-height: 36px;
	/* font-family: 'Nanum Pen Script', serif; */
	text-align: center;
}

h2 {
	font-family: 'Nanum Pen Script', serif;
	font-size: 60px;
}

h3 {
	font-family: 'Nanum Pen Script', serif;
	font-size: 40px;
}

h4 {
	font-family: 'Nanum Pen Script', serif;
	font-weight: 600px;
	font-size: 40px;
}

h5 {
	font-size: 20px;
	font-family: 'Nunito Sans', sans-serif; 
}

svg {
	font-family: 'Nanum Pen Script', serif;
	color: #4d4b47;
}

td {
	padding: 0 12px;
}

table {
	margin: auto;
}

.row {
	/* width: 100%; */
	margin: auto;
}

img {
	max-width: 80%;
}

a {
	font-size: 18px;
	color: #79b7bb;
	line-height: 40px;
	transition: all 0.2s ease-in-out;
	position: relative;
}

a:hover {
	color: #79b7bb;
	text-decoration: none;
}

a:before, a:after {
	content: "";
	position: absolute;
	bottom: -2px;
	width: 0px;
	height: 2px;
	margin: 5px 0 0;
	transition: all 0.2s ease-in-out;
	transition-duration: 0.3s;
	opacity: 0;
	background-color: #79b7bb;
	left: 0;
}

a:hover:before, a:hover:after {
	width: 100%;
	opacity: 1;
}

.btn {
	/* color: #f7f7f7; */
	/* background-color: #79b7bb; */
	/* border-color: transparent; */
	color: #4d4b47;
	background-color: transparent;
	border-color: #7e7c77;
	border-radius: 15px;
	border-width: 1px;
	margin: 10px 10px 10px 10px;
	font-size: 18px;
	opacity: 0.9;
}

.btn:hover, .btn:focus, .btn:active {
	color: #4d4b47;
	/* background-color: #679b9f; */
	/* border-color: none; */
	background-color: #e3dcd0;
	border-color: #4d4b47;
}

.text-container {
	margin: 0 100px 0 100px;
}

.viz-container {
	margin: 0 180px 0 180px;
}

.teal {
	color: rgb(100, 171, 160);
}

.nunito {
	font-family: 'Nunito Sans', sans-serif;
	/* font-size: 16px; */
	color: #4d4b47;
}

.down-arrow, .up-arrow {
	font-size: 10px;
}

.noscroll {
	/* overflow: hidden; */
}

div.tooltip {
	position: absolute;
	font-family: 'Nunito Sans';
	background-color: white;
	max-width: 200px;
	height: auto;
	padding: 10px;
	border-radius: 10px;
	border-width: 1px;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, .5);
	pointer-events: none;
}

/* instructional text */
.important-text {
	background-color: rgba(255, 255, 255, 0.8);
	border: 1px solid #7e7c774f;
	border-radius: 14px;
	/* font-weight: bold; */
	padding: 8px 20px;
	max-width: 90%;
	display: inline-block;
}

/* axis labels */
.axis text {
	font-family: 'Nunito Sans', Arial, sans-serif;
	font-size: 12px;
}

#container {
	margin: 10px;
}

#title {
	font-family: 'Nanum Pen Script', serif;
	font-size: 90px;
	margin-bottom: 10px;
}

/* title icon */
.flag-icon {
	max-width: 10%;
}

/* footer icon */
.heart-icon {
	margin: 6px;
}

/* LOANWORDS */

#loanwords circle, #loanwords text {
	cursor: pointer;
}

/* FUNWORDS */

.funword {
	margin: 10px 0;
}

.funword-part {
	font-family: 'Jacques Francois Shadow';
	font-size: 38px;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	position: relative;
}

.funword-part:hover {
	color: #79b7bb;
}

.funword-answer {
	visibility: hidden;
	font-size: 18px;
	line-height: 34px;
	opacity: 0;
	transition: 0.5s;
}

/* MAP */

#map-speakers-btn, #map-learners-btn {
	z-index: 10;
}

/* WORD ORDER DRAG & DROP */

.ghost {
	visibility: hidden;
}

.grid-square {
	width: 200px;
	max-height: 100px;
	display: inline-block;
	background-color: rgba(255, 255, 255, 0.8);
	border: dashed 1px #7e7c7787;
	border-radius: 10px;
	padding: 10px;
	margin: 12px;
	opacity: 0.9;
	cursor: pointer !important;
}

.blue-grid-square {
	background-color: rgb(209, 237, 233);
}

.gray-grid-square {
	background-color: #e3dcd0;
}

.correct {
	color: green;
	/* color: rgb(182, 45, 45); */
}

#team-members img {
	border-radius: 50%;
	border: 2px solid #4d4b47c1;
	max-width: 50%;
	margin: 20px 0;
	transition: 0.3s;
}

#team-members img:hover {
	opacity: 0.6;
	transition: 0.3s;
}

#team-members a:hover:before, #team-members a:hover:after {
	width: 0;
	opacity: 0;
}

#showcase-vid {
	width: 700px;
	height: 500px;
	border-radius: 10px;
	border: 2px solid #4d4b47c1;
	margin: auto;
}

/* MEDIA QUERIES */

/* MOBILE */
@media only screen and (max-width: 600px) {

	body {
		font-size: 14px;
		line-height: 28px;
	}

	.text-container {
		margin: 0 10px 0 10px;
	}

	.viz-container {
		margin: 0;
	}
	
	h5 {
		font-size: 20px;
		line-height: 2.5rem;
	}

	.flag-icon {
		min-width: 40%;
		margin-bottom: 20px;
	}

	#title {
		margin-bottom: 40px;
		font-size: 60px;
	}

	#wordlist-container {
		font-size: 12px;
		width: 100%;
		height: 300px;
		border-radius: 20px;
		margin: auto;
		padding: 16px;
	}

	#wordlist {
		width: 100%;
		height: 270px;
	}

}

