html {
	scroll-behavior: smooth;
}

body {
	color: #4d4b47;
	background-color: #fef9ee;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 20px;
	font-weight: 900px;
	line-height: 36px;
	/* font-family: 'Nanum Pen Script', serif; */
	text-align: center;
}

.noscroll {
	/* overflow: hidden; */
}

/* loading overlay */
#loading {
	position: fixed; 
	overflow: hidden;
	z-index: 2;
	top: 0; 
	right: 0; 
	bottom: 0; 
	left: 0; 
	background-color: rgba(0, 0, 0, 0.481);
	visibility: hidden;
}

/* loading spinner */
.spinner {
	z-index: 5;
	position: absolute;
	left: 50%;
	top: 50%;
	height: 60px;
	width: 60px;
	margin: 0px auto;
	-webkit-animation: rotation .6s infinite linear;
	-moz-animation: rotation .6s infinite linear;
	-o-animation: rotation .6s infinite linear;
	animation: rotation .6s infinite linear;
	border-left: 6px solid rgba(255, 255, 255, 0.7);
	border-right: 6px solid rgba(255, 255, 255, 0.7);
	border-bottom: 6px solid rgba(255, 255, 255, 0.7);
	border-top: 6px solid transparent;
	border-radius: 100%;
}

@-webkit-keyframes rotation {
	from {-webkit-transform: rotate(0deg);}
	to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
	from {-moz-transform: rotate(0deg);}
	to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
	from {-o-transform: rotate(0deg);}
	to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
	from {transform: rotate(0deg);}
	to {transform: rotate(359deg);}
}

#container {
	margin: 10px;
}

.text-container {
	margin: 0 100px 0 100px;
}

.viz-container {
	margin: 0 180px 0 180px;
}

#title {
	font-family: 'Nanum Pen Script', serif;
	font-size: 90px;
	margin-bottom: 10px;
}

h2 {
	font-family: 'Nanum Pen Script', serif;
	font-size: 60px;
}

h3 {
	font-family: 'Nanum Pen Script', serif;
	font-size: 40px;
}

h4 {
	font-weight: 600px;
	font-size: 30px;
}

h5 {
	font-size: 20px;
	font-family: 'Nunito Sans', sans-serif; 
}

svg {
	font-family: 'Nanum Pen Script', serif;
	color: #4d4b47;
}

td {
	padding: 0 12px;
}

table {
	margin: auto;
}

.teal {
	color: #76b7b2;
}

.nunito {
	font-family: 'Nunito Sans', sans-serif;
	/* font-size: 16px; */
	color: #4d4b47;
}

.row {
	/* width: 100%; */
	margin: auto;
}

/* h5 {
	font-family: 'Nanum Pen Script', serif;
	font-size: 30px;
} */

img {
	max-width: 80%;
}

a {
	font-size: 18px;
	color: #79b7bb;
	line-height: 40px;
}

a:hover {
	color: #79b7bb;
}

.btn {
	/* color: #f7f7f7; */
	/* background-color: #79b7bb; */
	/* border-color: transparent; */
	color: #4d4b47;
	background-color: transparent;
	border-color: #7e7c77;
	border-radius: 15px;
	border-width: 1px;
	margin: 10px 10px 10px 10px;
	font-size: 18px;
	opacity: 0.9;
}

.btn:hover, .btn:focus, .btn:active {
	color: #4d4b47;
	/* background-color: #679b9f; */
	/* border-color: none; */
	background-color: #e3dcd0;
	border-color: #4d4b47;
}

.flag-icon {
	max-width: 10%;
}

.funword {
	margin: 10px 0;
}

.funword-part {
	font-family: 'Jacques Francois Shadow';
	font-size: 38px;
	cursor: pointer;
}

.funword-answer {
	visibility: hidden;
	font-size: 18px;
	line-height: 34px;
	opacity: 0;
	transition: 0.5s;
}

/* WORD ORDER DRAG & DROP */

.ghost {
	visibility: hidden;
}

.grid-square {
	width: 200px;
	max-height: 100px;
	display: inline-block;
	background-color: #fff;
	border: solid 1px rgb(0,0,0,0.2);
	border-radius: 10px;
	padding: 10px;
	margin: 12px;
	opacity: 0.9;
}

.blue-grid-square {
	background-color: rgb(221, 244, 241);
}

.gray-grid-square {
	background-color: #e3dcd0;
}

.correct {
	color: green;
	/* color: rgb(182, 45, 45); */
}

.sankey-node, #show-all-singulars, #show-all-plurals {
	cursor: pointer;
}

#genderlist-container {
	font-size: 16px;
	border: 1px solid #4d4b47;
	width: 400px;
	height: 400px;
	border-radius: 20px;
	/* margin-left: 120px; */
	padding: 18px 18px 18px 26px;
	text-align: left;
}

#genderlist {
	width: 100%;
	height: 360px;
	overflow-y: scroll;
	overflow-x: hidden;
	margin-right: 10px;
}

.gender-row {
	cursor: pointer;
}

.gender-row:hover {
	color: #76b7b2;
}

#wordlist-col p, #wordlist-col h3 {
	margin-left: 100px;
}

#wordlist-container {
	font-size: 16px;
	border: 1px solid #4d4b47;
	/* background-color: transparent; */
	width: 400px;
	height: 400px;
	border-radius: 20px;
	margin-left: 120px;
	padding: 26px;
	text-align: left;
	/* overflow-y: scroll; */
}

#wordlist {
	width: 100%;
	height: 346px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.heart-icon {
	margin: 6px;
}

/* axis labels */
.axis text {
	font-family: 'Nunito Sans', Arial, sans-serif;
	font-size: 12px;
}

/*** RANGE SLIDER ***/

input[type=range] {
	-webkit-appearance: none;
	margin: 20px 0;
	width: 100%;
}
input[type=range]:focus {
	outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 4px;
	cursor: pointer;
	transition: 0.2s;
	/* background: #79b7bb; */
	background: #4d4b47;
	border-radius: 25px;
}
input[type=range]::-webkit-slider-thumb {
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: #fff;
	box-shadow: 0 0 4px 0 rgba(0,0,0, 1);
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -8px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
	/* background: #79b7bb; */
	background: #4d4b47;
}
.range-wrap {
	width: 90%;
	position: relative;
	margin: auto;
	margin-top: 10px;
}
.range-value {
	position: absolute;
	top: -70%;
}
.range-value span {
	width: 80px;
	height: 30px;
	line-height: 24px;
	text-align: center;
	/* background: #79b7bb; */
	/* color: #fff; */
	background: #4d4b47;
	color: #fff;
	font-size: 12px;
	display: block;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	border-radius: 6px;
	padding: 4px;
}
.range-value span:before {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	/* border-top: 10px solid #79b7bb; */
	border-top: 10px solid #4d4b47;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	margin-top: -1px;
}

div.tooltip {
	position: absolute;
	background-color: white;
	max-width: 200px;
	height: auto;
	padding: 1px;
	border-radius: 10px;
	border-width: 1px;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, .5);
	pointer-events: none;
}

/*** TERNARY PLOT ***/

line.tick {
	stroke-width: 0.5;
}

line.minor-tick {
	stroke-width: 1;
	stroke-opacity: 0.1;
}

.a-axis, .b-axis, .c-axis{
	stroke: #4d4b47;
}

.axis-title{
	font-size: 1.5rem;
}

text.tick-text {
	font-weight: lighter;
	font-size: 1rem;
	stroke: none;
}

#ternary circle {
	fill: #fef9ee;
	stroke: #187183;
	stroke-width: 3px;
}

/*** SCROLLBAR APPEARANCE ***/

::-webkit-scrollbar {
	width: 18px;
}

::-webkit-scrollbar-thumb {
	min-height: 40px;
	border: 4px solid rgba(0, 0, 0, 0);
	background-clip: padding-box;
	border-radius: 7px;
	background-color: #6c6963;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #4d4b47;
}

::-webkit-scrollbar-button {
	width: 0;
	height: 0;
	display: none;
}

::-webkit-scrollbar-corner {
	background-color: transparent;
}


/* MEDIA QUERIES */

/* MOBILE */
@media only screen and (max-width: 600px) {

	body {
		font-size: 14px;
		line-height: 28px;
	}

	.text-container {
		margin: 0 10px 0 10px;
	}

	.viz-container {
		margin: 0;
	}
	
	h5 {
		font-size: 20px;
		line-height: 2.5rem;
	}

	.flag-icon {
		min-width: 40%;
		margin-bottom: 20px;
	}

	#title {
		margin-bottom: 40px;
		font-size: 60px;
	}


	#wordlist-container {
		font-size: 12px;
		width: 100%;
		height: 300px;
		border-radius: 20px;
		margin: auto;
		padding: 16px;
	}

	#wordlist {
		width: 100%;
		height: 270px;
	}

}


/* navbar */
nav {
	position: fixed;
	z-index: 5;
	top: 0%;
	left: 0%;
	width: 100%;
	background-color: #fef9ee;
}

nav ul{
	list-style-type: none;
	display: flex;
	flex-direction: row;
	width : 100%;
	justify-content : center;
	background-color: #fef9ee;
	margin: 0;
	padding: 10px;
}

nav>ul>li {
	margin-left: 5%;
	margin-right: 5%
}

nav a{
	font-weight: 600;
	position: relative;
	display: inline-block;
	color: #4d4b47;
	font-family: 'Nunito Sans';
	text-transform: uppercase;
	font-size: 20px;
	/* font-size: 30px; */
}